<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JyothiPharmaERPSystem3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="JyothiPharmaERPSystem3.My.MySettings.ConnectionString"
            connectionString="Data Source=SOFTWARE-E88806\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.JVSKINVDB100ConnectionString"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=JVSKINVDB100;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.JVSKINVDB103ConnectionString"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=JVSKINVDB103;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.JVSKRestorAccDBFConnectionString"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=JVSKRestorAccDBF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.JyothipharmaDB100ConnectionString"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=JyothipharmaDB100;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.JyothipharmaerpDB100ConnectionString"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=JyothipharmaerpDB100;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.JyothiERPDB100ConnectionString"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=JyothiERPDB100;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.MESWERPDBDD100ConnectionString"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=MESWERPDBDD100;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.MESWERPDBDD109ConnectionString"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=MESWERPDBDD109;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.MESWERPDBDD100ConnectionString1"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=MESWERPDBDD100;User ID=SA;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.MESWERPDBDD118ConnectionString"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=MESWERPDBDD118;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JyothiPharmaERPSystem3.My.MySettings.MESWERPDBDD116ConnectionString"
            connectionString="Data Source=OFFBEATDEV04-PC\MSSQLSERVER2014;Initial Catalog=MESWERPDBDD116;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <JyothiPharmaERPSystem3.My.MySettings>
      <setting name="DefPrinterName" serializeAs="String">
        <value />
      </setting>
      <setting name="PrintonA5" serializeAs="String">
        <value>Yes</value>
      </setting>
      <setting name="pospricelist" serializeAs="String">
        <value>*All</value>
      </setting>
      <setting name="keycode" serializeAs="String">
        <value />
      </setting>
      <setting name="networkdbname" serializeAs="String">
        <value />
      </setting>
      <setting name="printernametoexport" serializeAs="String">
        <value />
      </setting>
      <setting name="filetypetoexport" serializeAs="String">
        <value />
      </setting>
    </JyothiPharmaERPSystem3.My.MySettings>
  </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Emgu.Util" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.9.0.1922" newVersion="2.9.0.1922"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Emgu.CV" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.9.0.1922" newVersion="2.9.0.1922"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
